[user]
  name = David Buchan-Swanson
  email = david.buchanswanson@gmail.com
[core]
  editor = nvim
  autocrlf = input
  pager = "diff-so-fancy | less --tabs=4 -RFX"
[alias]
  hub-clone = "!f() { git clone git@github.com:$1/$2.git $HOME/projects/$1/$2; }; f"
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
